<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Idiomastery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="aboutpage">
    <header>
        <div class="header">
            <div class="header-start">
				<a class="logo" href="/">IDIOMASTERY</a>
                <nav class="nav-links">
                <a href="/about/">About</a>
                <span class="separator">|</span>
                <a href="#">Quizzes</a>
                </nav>
            </div>
            
            <div class="auth-link">
                {% if user == 'none' %}
                <i class="bi bi-person-fill" style="font-size:20px;"></i>
                <a href="/login/">Sign In</a>
                {% else %}
                <i class="bi bi-person-fill" style="font-size:20px;"></i>
                <a href="/profile/{{user.id}}">{{user.firstname}} {{user.lastname}}</a>
                {% endif %}
            </div>
        </div>
        <div class="search-bar-container">
            <div class="search-bar">
                <form action="">
                    {% csrf_token %}
                    <input class="searchbox" type="text" name="search" placeholder="search anything">
                    <input class="searchbutton" type="submit" value="search">
                </form>
            </div>
        </div>
    </header>
      <div class="aboutbody bodylimit">
        <div class="widesection">
          <div class="aboutcontent card">
			<h1>who we are</h1>
			<p>fill info here</p>
		  </div>
        </div>
        <div div class="sidesection">
          <div class="siteinfo card">
			<p>this website has been running since(insert time)</p>
			<p>something about the site</p>
          </div>
        </div>
      </div>
</body>
</html>