<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Idiomastery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="detailpage"> 
    <header>
        <div class="header">
            <div class="header-start">
                <a class="logo" href="/">IDIOMASTERY</a>
                <nav class="nav-links">
                <a href="/about/">About</a>
                <span class="separator">|</span>
                <a href="#">Quizzes</a>
                </nav>
            </div>
            
            <div class="auth-link">
                {% if user == 'none' %}
                <a href="/login/">Sign In</a>
                {% else %}
                <a href="/profile/{{user.id}}">{{user.firstname}} {{user.lastname}}</a>
                {% endif %}
            </div>
        </div>
        <div class="search-bar-container">
            <div class="search-bar">
                <form action="">
                    {% csrf_token %}
                    <input class="searchbox" type="text" name="search" placeholder="search anything">
                    <input class="searchbutton" type="submit" value="search">
                </form>
            </div>
        </div>
    </header>
    <div class="detailbody bodylimit" >
        <div class="widesection">
            
            <div class="idiomcard card">
                <div class="idiomhead">
                    <span class="idiom-phrase">{{idiom.phrase}}</span>
                    <img src="" alt="" class="likebtn">
                </div>
                <div class="idiombody">
                    <span>Meaning: {{idiom.meaning}}</span>
                    {% if idiom.example != '' %}
                    <span>Example: {{idiom.example}}</span>

                    {% endif %}
                </div>
                <div class="idiomcardbottom">
                    <span></span>
                    <div class="taglist">
                        <div class="tag">tag</div>
                        {% comment %} add first 2-3 tags {% endcomment %}
                    </div>
                </div>

            </div>
            {% if idiom.origin != '' %}
            <div class="origincard card">
                <span class="origin-title">Origin</span>
                <p class="origin-body">{{idiom.origin}}</p>

            </div>
            {% endif %}

            <div class="translations-container card">
                <span class="translationtitle">Translations</span>
                <div class="translationcard card">
                    <span>test text translation</span>
                </div>
            </div>
            
            
        </div>
        <div class="sidesection">
            <div class="card add-idiom-card">
                <span>do you have an idiom?</span>
                {% if user == 'none' %}
                <a class="submitbutton" href="/login/"> Add it Here!</a>
                {% else %}
                <a class="submitbutton" href="/create/"> Add it Here!</a>
                {% endif %}            </div>
            <div class="sidecardcontainer">
                <span>Similarly Tagged</span>
                <div class="sidecard card">

                </div>
            </div>
            <div class="sidecardcontainer">
                <span>Equivalent Idioms</span>
                <div class="sidecard card">

                </div>
            </div>
        </div>
    </div>
</body>
</html>