<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">    <title>Idiomastery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Idiomastery</title>
    {% load static %}
    <script src="{% static 'js/add_tag.js' %}"></script>
    <script src="{% static 'js/search_tags.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/like_idiom.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="detailpage"> 
    <header>
        <div class="header">
            <div class="header-start">
                <a class="logo" href="/"><img src="{% static 'img/idiomlogo.png'%}" alt=""></a>
                <nav class="nav-links">
                <a href="/about/">About</a>
                <span class="separator">|</span>
                <a href="#">Quizzes</a>
                </nav>
            </div>
            
            <div class="auth-link">
                {% if user == 'none' %}
                <i class="bi bi-person-fill" style="font-size:20px;"></i>
                <a href="/login/">Sign In</a>
                {% else %}
                <i class="bi bi-person-fill" style="font-size:20px;"></i>
                <a href="/profile/{{user.id}}">{{user.firstname}} {{user.lastname}}</a>
                {% if user.id != 'none' %}
				<a href="/a/logout">log out</a>
				{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="search-bar-container">
            <div class="search-bar">
                <form action="">
                    {% csrf_token %}
                    <input class="searchbox" type="text" name="search" placeholder="Search idioms">
                    <input class="searchbutton" type="submit" value="search">
                </form>
            </div>
        </div>
    </header>
    <div class="detailbody bodylimit" >
        <div class="widesection">
            
            <div class="idiomcard card">
                <div class="idiomhead">
                    <span class="idiom-phrase">{{idiom.phrase}} <a class="" style='color:black; font-size:0.8em' href="/edit/{{idiom.id}}">🖉</a></span>
                    
                    <div class="likesection">
                        <button class="likebutton" id="idiom-like-button-{{ idiom.id }}" onclick="likeIdiom({{ idiom.id }})">  
                            {% if liked %}
                            <i class="bi bi-heart-fill" style="font-size: 24px; color: red;"></i>
                            {% else %}
                            <i class="bi bi-heart" style="font-size: 24px;"></i>
                            {% endif %}
                        </button>
                        <span id="idiom-score-{{ idiom.id }}">{{ idiom.score }}</span>
                    </div>


                </div>
                <div class="idiombody">
                    <span>Meaning: {{idiom.meaning}}</span>
                    {% if idiom.example != '' %}
                    <span>Example: {{idiom.example}}</span>

                    {% endif %}
                </div>
                <div class="idiomcardbottom">
                    <span class="authorsubtitle">written by: <a class="nodecoration keepblue" href="/profile/{{idiom.user.id}}">{{idiom.user.firstname}} {{idiom.user.lastname}} </a> ({{idiom.created_at|date:'Y-m-d'}})</span>
                    
                    <div class="tagcontainer">
                        
                        <div class="tagsearch card">
                            <input type="hidden" value="{{ idiom.id }}" id="idiom-id">
                            <input autocomplete="off" class="tagsearchinput" type="text" id="search-bar" placeholder="tag" list="tag-options">
                            <datalist id="tag-options">
                                <!-- Options will be dynamically added here by JavaScript -->
                            </datalist>
                            <button onclick="addtag({{ .idiom.id }})">Add Tag</button>
                        </div>     
                        
                        <div id="tag-list" class="taglist">
                            
                        
                            {% for tag in idiom.tags.all %}
                            <form action="{% url 'tag' %}" method="GET">
                                <input type="submit" name="tag" class="tag" value="{{ tag.name }}">
                            </form>                           
                            {% endfor %}
                        </div>

                          


                    </div>
                    
                    
                    
                </div>

            </div>
            {% if idiom.origin != '' %}
            <div class="origincard card">
                <span class="origin-title">Origin</span>
                <p class="origin-body">{{idiom.origin}}</p>

            </div>
            {% endif %}

            <div class="translations-container card">
                <span class="translationtitle">Translations</span>
                    
                    {% if translations != 'none' %}
                    <div class="translationcard">

                        {% for item in translations %}
                        <div class="translationitem card">

                            <div class="languagelabel">{{item.language}}</div>
                            <div class="translationinner">
                                <span>{{item.text}}</span>
                                <span>like</span> 

                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    {% endif %}

                <div class="addtranslation"> 
                    <span>Add a Translation</span>
                    <form class="card" action="/{{idiom.id}}/addtranslation" method="POST">
                        {% csrf_token %}
                        <input class="comment" type="text" name="text" >
                        {% comment %} add an option dropdown with languages {% endcomment %}
                        <select name="language" id="language">
                            <option value="english">English</option>
                            <option value="french">French</option>
                            <option value="german">German</option>
                            <option value="spanish">Spanish</option>
                        </select>
                        <input class="translationsubmit" type="submit" value="Add Translation">
                    </form>
                </div>
            </div>
            
            
        </div>
        <div class="sidesection add-and-tags">
            <div class="card add-idiom-card p-3 text-center animated-background ">
                <span>do you have an idiom?</span>
                {% if user == 'none' %}
                <a class="submitbuttonbg-dark bg-opacity-50 text-white" href="/login/"> Add it Here!</a>
                {% else %}
                <a class="submitbutton bg-dark bg-opacity-50 text-white" href="/create/"> Add it Here!</a>
                {% endif %}            </div>
            <div class='tags_container'>
                <div class="sidecardcontainer">
                <span>Similarly Tagged</span>
                <div class="sidecard card">

                </div>
                </div>
                <div class="sidecardcontainer">
                <span>Equivalent Idioms</span>
                <div class="sidecard card">
                    {% for item in related %}
                    <a href="item.id" class="nodecoration keepblue">{{item.phrase}}</a>
                    {% endfor %}
                </div>
                </div>
        </div>
            
        </div>
    </div>
    <footer>
        <div>
            <p>Social Media:</p>
            <img src="{%static '/images/facebook.png'%}" alt="facebook icon">
            <img src="{%static '/images/instagram.png'%}" alt="instagram icon">
            <a href="https://github.com/ahmadlatif1/idiomastery">
                <img src="{%static '/images/github.png'%}" alt="github icon">
            </a>
            
        </div>
        <div>
            <p>©Copyright 2025</p>
        </div>
    </footer>
</body>

</html>