<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Idiomastery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="explorepage"> 
    <header>
        <div class="header">
          <div class="logo">IDIOMASTERY</div>
          <nav class="nav-links">
            <a href="/about/">About</a>
            <span class="separator">|</span>
            <a href="#">Quizzes</a>
          </nav>
          <div class="auth-link">
            <a href="/login/">Sign In</a>
          </div>
    </header>
    <div class="explorebody bodylimit" >
        <div class="widesection">
            {% for idiom in idioms %}
            <div class="idiomcard card">
                <div class="idiomhead">
                    <span class="idiom-phrase">{{idiom.phrase}}</span>
                    <img src="" alt="" class="likebtn">
                </div>
                <div class="idiombody">
                    <span>{{idiom.meaning}}</span>
                    <span>{{idiom.example}}</span>
                </div>
                <div class="idiomcardbottom">
                    <span><a href="/{{idiom.id}}">Read More</a></span>
                    <div class="taglist">
                        <div class="tag">tag</div>
                        {% comment %} add first 2-3 tags {% endcomment %}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        <div class="sidesection">
            <div class="card add-idiom-card">
                <span>do you have an idiom?</span>
                <a class="submitbutton" href="/create/"> Add it Here!</a>
            </div>
            <div class="populartags">
                <h1>Popular tags</h1>
                <div class="taglist">
                    <div class="tag">tag text</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>