<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">    <title>Idiomastery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


    <title>Idiomastery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="explorepage"> 
    <header>
        <div class="header">
            <div class="header-start">
                <a class="logo" href="/">IDIOMASTERY</a>
                <nav class="nav-links">
                <a href="/about/">About</a>
                <span class="separator">|</span>
                <a href="#">Quizzes</a>
                </nav>
            </div>
            
            <div class="auth-link">
                {% if user == 'none' %}
                <i class="bi bi-person-fill" style="font-size:20px;"></i>
                <a href="/login/">Sign In</a>
                {% else %}
                <i class="bi bi-person-fill" style="font-size:20px;"></i>
                <a href="/profile/{{user.id}}">{{user.firstname}} {{user.lastname}}</a>
                {% if user.id == sessionid %}
				<a href="/a/logout">log out</a>
				{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="search-bar-container">
            <div class="search-bar">
                <form action="{% url 'search' %}" method="GET">
                    <input class="searchbox" type="text" name="search" placeholder="search idioms">

                    <input class="searchbutton" type="submit" value="search">
                </form>
            </div>
        </div>
    </header>
    <div class='carousel-container'>
        <div id="demo" class="carousel slide" data-bs-ride="carousel" >

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active" ></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>
            
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static "img/idiomi.jpg" %}" alt="Los Angeles" class="d-block ">
                <div class="carousel-caption">
                <h3>Los Angeles</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/palestine.jpg' %}" alt="Chicago" class="d-block " >
                <div class="carousel-caption">
                <h3>Chicago</h3>
                </div> 
            </div>
            <div class="carousel-item">
                <img src="{% static "img/idiom3.jpg" %}" alt="New York" class="d-block ">
                <div class="carousel-caption">
                <h3>New York</h3>
                </div>  
            </div>
            </div>
            
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
    <div class="explorebody bodylimit" >
        <div class="widesection mainidiom">


            {% if results %}
                <span>h</span>
            {% endif %}
            <div class="searchresults">

            </div>
            {% for idiom in results %}
            <h2>result:</h2>
            <div class="idiomcard card">
                <div class="idiomhead">
                    <span class="idiom-phrase">{{idiom.phrase}}</span>
                    <img src="" alt="" class="likebtn">
                </div>
                <div class="idiombody">
                    <span>Meaning: {{idiom.meaning}}</span>
                    {% if idiom.example != '' %}
                    <span>Example: {{idiom.example}}</span>

                    {% endif %}
                </div>
                <div class="idiomcardbottom">
                    <span><a class="keepblue nodecoration" href="/{{idiom.id}}">Read More</a></span>
                    <span class="authorsubtitle">written by: <a class="nodecoration keepblue" href="/profile/{{idiom.user.id}}">{{idiom.user.firstname}} {{idiom.user.lastname}} </a> ({{idiom.created_at|date:'Y-m-d'}})</span>
                    <div class="taglist">
                        <div class="tag">tag</div>
                        {% comment %} add first 2-3 tags {% endcomment %}
                    </div>
                </div>

            </div>
            {% endfor %}
            {% for idiom in idioms %}
            <div class="idiomcard card">
                <div class="idiomhead">
                    <span class="idiom-phrase">{{idiom.phrase}}</span>
                    <i class="bi bi-heart" style="font-size: 24px;"></i>
                </div>
                <div class="idiombody">
                    <span>Meaning: {{idiom.meaning}}</span>
                    {% if idiom.example != '' %}
                    <span>Example: {{idiom.example}}</span>

                    {% endif %}
                </div>
                <div class="idiomcardbottom">
                    <span><a class="keepblue nodecoration" href="/{{idiom.id}}">Read More</a></span>
                    <span class="authorsubtitle">written by: <a class="nodecoration keepblue" href="/profile/{{idiom.user.id}}">{{idiom.user.firstname}} {{idiom.user.lastname}} </a> ({{idiom.created_at|date:'Y-m-d'}})</span>
                    <div class="taglist">
                        <div class="tag">tag</div>
                        {% comment %} add first 2-3 tags {% endcomment %}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        <div class="sidesection">
            <div class="card add-idiom-card">
                <span>Do you have an idiom?</span>
                {% if user == 'none' %}
                <a class="submitbutton" href="/login/"> Add it Here!</a>
                {% else %}
                <a class="submitbutton" href="/create/"> Add it Here!</a>
                {% endif %}
            </div>
            <div class="populartags">
                <h1>Popular tags</h1>
                <div class="taglist">
                    <div class="tag">tag text</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>