<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Log In</title>
</head>
<body>
    <div class="header">
        <div class="logo">IDIOMASTERY</div>
        <nav class="nav-links">
          <a href="#">About</a>
          <span class="separator">|</span>
          <a href="#">Quizzes</a>
        </nav>
        <div class="auth-link">
          <a href="#">Sign In</a>
        </div>
      </div>
      <div class="login-container">
        <h1>Welcome Back</h1>
        <p>Welcome back! Please enter your details.</p>

        <form>
           {% csrf_token %}
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your email">

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password">

            <button type="submit">Sign in</button>
        </form>

        <p class="signup-text">Don't have an account? <a href="#">Sign up for free</a></p>
    </div>
</body>
</html>