<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">    <title>Idiomastery</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<title>Log In</title>
</head>
<body class="loginpage"> 
	<header>
        <div class="header">
            <div class="header-start">
				<a class="logo" href="/">IDIOMASTERY</a>
                <nav class="nav-links">
                <a href="/about/">About</a>
                <span class="separator">|</span>
                <a href="#">Quizzes</a>
                </nav>
            </div>
            
            <div class="auth-link">
                {% if user == 'none' %}
				<i class="bi bi-person-fill" style="font-size:20px;"></i>
                <a href="/login/">Sign In</a>
                {% else %}
				<i class="bi bi-person-fill" style="font-size:20px;"></i>
                <a href="/profile/{{user.id}}">{{user.firstname}} {{user.lastname}}</a>
				{% if user.id == sessionid %}
				<a href="/a/logout">log out</a>
				{% endif %}
                {% endif %}
            </div>
        </div>
        
    </header>
	<div class="form-container bodylimit">
	  
	  <form action="/a/login" method="POST">
		<h1>Welcome Back</h1>
		<p>Welcome back! Please enter your details.</p>
		{% csrf_token %}
		<input type="email" id="email" name="email" placeholder="email">
		{% if errors.email %}
    	<span class="error">{{errors.email}}</span>
      	{% endif %}
		
		<input type="password" id="password" name="password" placeholder="password">
		{% if errors.password %}
      	<span class="error">{{errors.password}}</span>
      	{% endif %}

		<button class="submitbutton" type="submit">Sign in</button>
	  </form>

	  <p class="signup-text">Don't have an account? <a href="/register/">Sign up for free</a></p>
	</div>
</body>
</html>