<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">    <title>Idiomastery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <title>Idiomastery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>


<body class="profilepage">
    <header>
        <div class="header">
            <div class="header-start">
                <a class="logo" href="/">IDIOMASTERY</a>
                <nav class="nav-links">
                <a href="/about/">About</a>
                <span class="separator">|</span>
                <a href="#">Quizzes</a>
                </nav>
            </div>
            
            <div class="auth-link">
                {% if user == 'none' %}
                <i class="bi bi-person-fill" style="font-size:20px;"></i>
                <a href="/login/">Sign In</a>
                {% else %}
                <i class="bi bi-person-fill" style="font-size:20px;"></i>
                <a href="/profile/{{user.id}}">{{user.firstname}} {{user.lastname}}</a>
                {% endif %}
            </div>
        </div>
        <div class="search-bar-container">
            <div class="search-bar">
                <form action="">
                    {% csrf_token %}
                    <input class="searchbox" type="text" name="search" placeholder="Search idioms">
                    <input class="searchbutton" type="submit" value="search">
                </form>
            </div>
        </div>
    </header>
    <div class="profilebody bodylimit" >
        <div class="widesection">
            <h1>Recent Submissions</h1>
            {% for idiom in idioms %}
            <div class="idiomcard card">
                <div class="idiomhead">
                    <span class="idiom-phrase">{{idiom.phrase}}</span>
                    <i class="bi bi-heart" style="font-size: 24px;"></i>
                </div>
                <div class="idiombody">
                    <span>{{idiom.meaning}}</span>
                    <span>{{idiom.example}}</span>
                </div>
                <div class="idiomcardbottom">
                    <span><a href="/{{idiom.id}}">Read More</a></span>
                    <div class="taglist">
                        <div class="tag">tag</div>
                        {% comment %} add first 2-3 tags {% endcomment %}
                    </div>
                </div>

            </div>
            {% endfor %}

            
        </div>
        <div class="sidesection">
            <div class="card profilecard">
                <i class="bi bi-person-circle" style='font-size:75px;'></i>
                <span class="name">{{user.firstname}} {{user.lastname}}</span>
                <span class="creation-date"> joined us at: {{user.created_at}}</span>
            </div>
            
        </div>
    </div>
    <footer>
        <div>
            <p>Social Media:</p>
            <img src="{%static '/images/facebook.png'%}" alt="facebook icon">
            <img src="{%static '/images/instagram.png'%}" alt="instagram icon">
            <a href="https://github.com/ahmadlatif1/idiomastery">
                <img src="{%static '/images/github.png'%}" alt="github icon">
            </a>
            
        </div>
        <div>
            <p>©Copyright 2025</p>
        </div>
    </footer>
</body>

</html>