<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">    <title>Idiomastery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Log In</title>
</head>

<body class="registerpage">
    
  <header>
    <div class="header">
        <div class="header-start">
            <a class="logo" href="/">IDIOMASTERY</a>
            <nav class="nav-links">
            <a href="/about/">About</a>
            <span class="separator">|</span>
            <a href="#">Quizzes</a>
            </nav>
        </div>
        
        <div class="auth-link">
            {% if user == 'none' %}
            <i class="bi bi-person-fill" style="font-size:20px;"></i>
            <a href="/login/">Sign In</a>
            {% else %}
            <i class="bi bi-person-fill" style="font-size:20px;"></i>
            <a href="/profile/{{user.id}}">{{user.firstname}} {{user.lastname}}</a>
            {% endif %}
        </div>
    </div>
    
</header>

  <div class="form-container">
    <h1>Register your account</h1>
    <p>
      Or <a href="/login/">click here</a> to login if you already have an existing account.
    </p>
    <form action="/a/register" method="POST">
      {% csrf_token %}

      <input type="text" name="firstname" placeholder="First name" required /> 
      {% if errors.firstname %}
      <span class="error">{{errors.firstname}}</span>
      {% endif %}

      <input type="text" name="lastname" placeholder="Last name" required />
      {% if errors.lastname %}
      <span class="error">{{errors.lastname}}</span>
      {% endif %}

      <input type="email" name="email" placeholder="Email" required />
      {% if errors.email %}
      <span class="error">{{errors.email}}</span>
      {% endif %}

      <input type="password" name="password" placeholder="Password" required />
      {% if errors.password %}
      <span class="error">{{errors.password}}</span>
      {% endif %}

      <input type="password" name="confirmpassword" placeholder="Confirm password" required />
      {% if errors.confirmpassword %}
      <span class="error">{{errors.confirmpassword}}</span>
      {% endif %}
      <button class="submitbutton" type="submit">Sign up</button>
    </form>
  </div>


</body>